/* css for body */
body{
    margin: 0;

}
.container{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;;
}
/* css for header */
.container header{
    text-align: center;
    opacity: 0.6;
}


/* css for creating the input form */
#text-name{
    color: #6d6464;
    border-top: 1px lightgray;
}
#name, #category, #date{
    color: #6d6464;
    width: 100%;
    padding-bottom: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid lightgray;
    margin-top: 10px;
}
#date:focus{
    background-color: lightgray;
}
#category:focus{
    background-color: lightgray;
}
#name:focus{
    background-color: lightgray;
}

/* css for submit button */
#submit-button{
    background-color: black;
    color: white;
    opacity: 0.7;
    padding: 10px 25px;
    margin-top: 10px;
    text-align: center;
}
#delete-task{
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    opacity: 0.8;
}
#button{
    text-align: center;
}
#task-content{
    width: 75%;
}
label h4{
    margin: 0;
    opacity: 0.8;
}
label p{
    margin-top: 10px;
    opacity: 0.6;
}
#check{
    width: 18px;
    height: 18px;
    background-color: white;
    margin: 0;
    margin-right: 20px;
}
#check:focus{
    background-color: blue;
}

/* creating the delete form and print the data */
#checkbox{
    width: 100%;
    
}
#category-content{
    float: left;
    color: white;
   
}
#category-content p{
    background-color: blueviolet;
    margin-top: 5px;
    padding: 10px 15px;
}
input[type=checkbox]:checked + label{
    text-decoration: line-through;
}

#input-field{
    display: flex;
    box-sizing: border-box;
    border-top: 2px solid lightgray;
    width: 100%;
    padding-top: 15px;

}